body {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei';
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.pre {
  font-family: inherit;
  font-size: 14px;
  font-weight: 100;
  background-color: #2E3132;
  transform-origin: left top;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  padding: 0;
  overflow: auto;
}
.pre table {
  background-color: transparent;
  transform-origin: left top;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  width: auto;
  border-spacing: 0;
  border-collapse: collapse;
  line-height: 18px!important;
}
.pre caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}
.pre th {
  text-align: left;
}
.pre .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.pre .table > tbody > tr > td,
.pre .table > tbody > tr > th,
.pre .table > tfoot > tr > td,
.pre .table > tfoot > tr > th,
.pre .table > thead > tr > td,
.pre .table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.pre .table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.pre .table > caption + thead > tr:first-child > td,
.pre .table > caption + thead > tr:first-child > th,
.pre .table > colgroup + thead > tr:first-child > td,
.pre .table > colgroup + thead > tr:first-child > th,
.pre .table > thead:first-child > tr:first-child > td,
.pre .table > thead:first-child > tr:first-child > th {
  border-top: 0;
}
.pre .table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.pre .table .table {
  background-color: #fff;
}
.pre .table-condensed > tbody > tr > td,
.pre .table-condensed > tbody > tr > th,
.pre .table-condensed > tfoot > tr > td,
.pre .table-condensed > tfoot > tr > th,
.pre .table-condensed > thead > tr > td,
.pre .table-condensed > thead > tr > th {
  padding: 5px;
}
.pre code {
  color: #82AEB6;
  white-space: pre;
}
.pre .Comments {
  font-style: italic;
}
.pre .Line .LineNumber {
  min-width: 32px;
  text-align: right;
  border-right: 2px solid #01a384;
  background-color: #363636;
  color: #0295DD;
  vertical-align: top;
  white-space: pre;
  padding-left: 8px;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.pre .Line .Line-Body {
  height: auto;
  margin-left: 42px;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: #82AEB6;
}
.pre .Line .Line-Body .Pcode {
  white-space: pre;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.CSharp-Code {
  transform-origin: left top;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  color: #fafafa;
  padding: 0;
  overflow: auto;
}
.CSharp-Code code {
  white-space: pre;
  font-family: inherit;
}
.CSharp-Code .KeyWord {
  color: #337ab7;
  font-family: inherit;
}
.CSharp-Code .Class {
  color: #428bca;
  font-family: inherit;
}
.CSharp-Code .Comments {
  color: green;
  color: #4AA657;
  font-family: inherit;
}
.CSharp-Code .Comments .KeyWord {
  color: #4AA657;
}
.CSharp-Code .Comments .Operate {
  color: #4AA657;
}
.CSharp-Code .Comments .String {
  color: #4aa657;
}
.CSharp-Code .String {
  color: red;
  font-family: inherit;
}
.CSharp-Code .String .KeyWord {
  color: red;
}
.CSharp-Code .String .Comments {
  color: red;
}
.CSharp-Code .String .Operate {
  color: red;
}
.CSharp-Code .Line .LineNumber {
  min-width: 32px;
  text-align: right;
  border-right: 2px solid #01a384;
  background-color: #363636;
  color: #5bc0de;
  vertical-align: top;
  white-space: pre;
  padding-left: 8px;
}
.CSharp-Code .Line .Line-Body {
  height: auto;
  margin-left: 42px;
  color: #82AEB6;
}
.CSharp-Code .Line .Line-Body .Pcode {
  white-space: pre;
}
.CSharp-Code .Over {
  color: #b14921;
}
.CSharp-Code .Operate {
  color: #01a384;
}
.CPlusPlus-Code {
  transform-origin: left top;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  color: #fafafa;
  padding: 0;
  overflow: auto;
}
.CPlusPlus-Code code {
  white-space: pre;
  font-family: inherit;
}
.CPlusPlus-Code .KeyWord {
  color: #337ab7;
  font-family: inherit;
}
.CPlusPlus-Code .Class {
  color: #428bca;
  font-family: inherit;
}
.CPlusPlus-Code .Comments {
  color: #4AA657;
  font-family: inherit;
}
.CPlusPlus-Code .Comments .KeyWord {
  color: #4AA657;
}
.CPlusPlus-Code .Comments .Operate {
  color: #4AA657;
}
.CPlusPlus-Code .Comments .String {
  color: #4AA657;
}
.CPlusPlus-Code .String {
  color: red;
  font-family: inherit;
}
.CPlusPlus-Code .String .KeyWord {
  color: red;
}
.CPlusPlus-Code .String .Comments {
  color: red;
}
.CPlusPlus-Code .String .Operate {
  color: red;
}
.CPlusPlus-Code .Line .LineNumber {
  min-width: 32px;
  text-align: right;
  border-right: 2px solid #01a384;
  background-color: #363636;
  color: #5bc0de;
  vertical-align: top;
  white-space: pre;
  padding-left: 8px;
}
.CPlusPlus-Code .Line .Line-Body {
  height: auto;
  margin-left: 42px;
  color: #5bc0de;
}
.CPlusPlus-Code .Line .Line-Body .Pcode {
  white-space: pre;
}
.CPlusPlus-Code .Over {
  color: #b14921;
}
.CPlusPlus-Code .Operate {
  font-family: inherit;
  color: #01a384;
}
.Java-Code {
  transform-origin: left top;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  color: #fafafa;
  padding: 0;
  overflow: auto;
}
.Java-Code code {
  white-space: pre;
  font-family: inherit;
}
.Java-Code .KeyWord {
  font-family: inherit;
  color: #337ab7;
}
.Java-Code .Class {
  color: #428bca;
  font-family: inherit;
}
.Java-Code .Comments {
  color: #4AA657;
  font-family: inherit;
}
.Java-Code .Comments .KeyWord {
  color: #4AA657;
}
.Java-Code .Comments .Operate {
  color: #4AA657;
}
.Java-Code .Comments .String {
  color: #4AA657;
}
.Java-Code .Comments .String .KeyWord {
  color: #4AA657;
}
.Java-Code .String {
  color: red;
  font-family: inherit;
}
.Java-Code .String .KeyWord {
  color: red;
}
.Java-Code .String .Comments {
  color: red;
}
.Java-Code .String .Operate {
  color: red;
}
.Java-Code .Line .LineNumber {
  min-width: 32px;
  text-align: right;
  border-right: 2px solid #01a384;
  background-color: #363636;
  color: #5bc0de;
  vertical-align: top;
  white-space: pre;
  padding-left: 8px;
}
.Java-Code .Line .Line-Body {
  height: auto;
  margin-left: 42px;
  color: #82AEB6;
}
.Java-Code .Line .Line-Body .Pcode {
  white-space: pre;
}
.Java-Code .Over {
  color: #b14921;
}
.Java-Code .Operate {
  font-family: inherit;
  color: #01a384;
}
.JavaScript-Code {
  transform-origin: left top;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  color: #fafafa;
  padding: 0;
  overflow: auto;
}
.JavaScript-Code code {
  white-space: pre;
  font-family: inherit;
}
.JavaScript-Code .KeyWord {
  font-family: inherit;
  color: #337ab7;
}
.JavaScript-Code .Class {
  color: #428bca;
  font-family: inherit;
}
.JavaScript-Code .Comments {
  color: green;
  color: #4AA657;
  font-family: inherit;
}
.JavaScript-Code .Comments .KeyWord {
  color: #4AA657;
}
.JavaScript-Code .Comments .Operate {
  color: #4AA657;
}
.JavaScript-Code .Comments .String {
  color: #4AA657;
}
.JavaScript-Code .String {
  color: red;
  font-family: inherit;
}
.JavaScript-Code .String .KeyWord {
  color: red;
}
.JavaScript-Code .String .Comments {
  color: red;
}
.JavaScript-Code .String .Operate {
  color: red;
}
.JavaScript-Code .Line .LineNumber {
  min-width: 32px;
  text-align: right;
  border-right: 2px solid #01a384;
  background-color: #363636;
  color: #5bc0de;
  vertical-align: top;
  white-space: pre;
  padding-left: 8px;
}
.JavaScript-Code .Line .Line-Body {
  height: auto;
  margin-left: 42px;
  color: #82AEB6;
}
.JavaScript-Code .Line .Line-Body .Pcode {
  white-space: pre;
}
.JavaScript-Code .Over {
  color: #b14921;
}
.JavaScript-Code .Operate {
  font-family: inherit;
  color: #01a384;
}
.HTML-Code .KeyWord {
  color: #ef0000;
  font-family: inherit;
}
.HTML-Code .Comments {
  color: #ccc;
  font-family: inherit;
}
.HTML-Code .Comments .String {
  color: #ccc;
}
.HTML-Code .Comments .KeyWord {
  color: #ccc;
}
.HTML-Code .Comments .Tag {
  color: #ccc;
}
.HTML-Code .String {
  color: #f0ad4e;
  font-family: inherit;
}
.HTML-Code .String .KeyWord {
  color: #f0ad4e;
}
.HTML-Code .String .Comments {
  color: #f0ad4e;
}
.HTML-Code .Line .LineNumber {
  min-width: 32px;
  text-align: right;
  border-right: 2px solid #01a384;
  background-color: #363636;
  color: #0295DD;
  vertical-align: top;
  white-space: pre;
  padding-left: 8px;
}
.HTML-Code .Line .Line-Body {
  height: auto;
  margin-left: 42px;
  color: #82AEB6;
}
.HTML-Code .Line .Line-Body .Pcode {
  white-space: pre;
}
.HTML-Code .Tag {
  font-family: inherit;
  color: #009b72;
}
.PHP-Code {
  transform-origin: left top;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  color: #fafafa;
  padding: 0;
  overflow: auto;
}
.PHP-Code code {
  white-space: pre;
  font-family: inherit;
}
.PHP-Code .KeyWord {
  color: #337ab7;
  font-family: inherit;
}
.PHP-Code .Class {
  color: #428bca;
  font-family: inherit;
}
.PHP-Code .Comments {
  color: green;
  color: #4AA657;
  font-family: inherit;
}
.PHP-Code .Comments .KeyWord {
  color: #4AA657;
}
.PHP-Code .Comments .Operate {
  color: #4AA657;
}
.PHP-Code .Comments .Var {
  color: #4AA657;
}
.PHP-Code .Comments .String {
  color: #4AA657;
}
.PHP-Code .String {
  color: red;
  font-family: inherit;
}
.PHP-Code .String .KeyWord {
  color: red;
}
.PHP-Code .String .Comments {
  color: red;
}
.PHP-Code .String .Operate {
  color: red;
}
.PHP-Code .String .Var {
  color: red;
}
.PHP-Code .Var {
  color: #f0ad4e;
}
.PHP-Code .Line .LineNumber {
  min-width: 32px;
  text-align: right;
  border-right: 2px solid #01a384;
  background-color: #363636;
  color: #5bc0de;
  vertical-align: top;
  white-space: pre;
  padding-left: 8px;
}
.PHP-Code .Line .Line-Body {
  height: auto;
  margin-left: 42px;
  color: #82AEB6;
}
.PHP-Code .Line .Line-Body .Pcode {
  white-space: pre;
}
.PHP-Code .Over {
  color: #b14921;
}
.PHP-Code .Operate {
  font-family: inherit;
  color: #01a384;
}
.CSS-Code .KeyWord {
  color: #f0ad4e;
  font-family: inherit;
}
.CSS-Code .Comments {
  font-family: inherit;
  color: #5bc0de;
}
.CSS-Code .Comments .Tag {
  color: #5bc0de;
}
.CSS-Code .Comments .Value {
  color: #5bc0de;
}
.CSS-Code .String {
  font-family: inherit;
  color: #f0ad4e;
}
.CSS-Code .String .KeyWord {
  color: #f0ad4e;
}
.CSS-Code .String .Comments {
  color: #f0ad4e;
}
.CSS-Code .Value {
  font-family: inherit;
  color: #337ab7;
}
.CSS-Code .Line .LineNumber {
  min-width: 32px;
  text-align: right;
  border-right: 2px solid #01a384;
  background-color: #363636;
  color: #0295DD;
  vertical-align: top;
  white-space: pre;
  padding-left: 8px;
}
.CSS-Code .Line .Line-Body {
  height: auto;
  margin-left: 42px;
  color: #82AEB6;
}
.CSS-Code .Line .Line-Body .Pcode {
  white-space: pre;
}
.CSS-Code .Tag {
  font-family: inherit;
  color: #009b72;
}
.CodeToolBar {
  position: relative;
  right: 0;
  top: 0;
  white-space: nowrap;
  width: 100%;
  float: left;
  background: #565656;
}
.CodeToolBar .toolitem {
  float: left;
  padding: 0 4px;
  font-family: inherit;
}
.CodeToolBar .toolitem:first-child {
  margin-left: 32px;
}
.CodeToolBar .toolitem a {
  color: #fafafa;
  text-decoration: none;
}
.CodeToolBar .toolitem a:hover {
  color: white;
  text-decoration: underline;
}
.move {
  cursor: move;
}
.Messagebox {
  position: fixed;
  width: 88%;
  height: 72%;
  left: 6%;
  top: 14%;
  z-index: 3000;
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgba(102, 128, 153, 0.05);
  -webkit-box-shadow: 0px 0px 10px rgba(102, 128, 153, 0.05);
  -moz-box-shadow: 0px 0px 10px rgba(102, 128, 153, 0.05);
  -o-box-shadow: 0px 0px 10px rgba(102, 128, 153, 0.05);
  -ms-box-shadow: 0px 0px 10px rgba(102, 128, 153, 0.05);
  box-shadow: 0px 0px 10px rgba(102, 128, 153, 0.05);
  background-color: whitesmoke;
}
.Messagebox .button-close {
  color: #666;
  background-color: #EEE;
  border-color: #EEE;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  padding: 8px 20px;
  margin: 0;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  float: right;
  font-weight: 400;
}
.Messagebox .button-close:hover {
  background-color: #f6f6f6;
  text-decoration: none;
  outline: none;
}
.Messagebox .box-head {
  padding: 4px 12px;
  border-bottom: 1px solid #ccc;
  background-color: whitesmoke;
  color: #333;
}
.Messagebox .box-head .Title {
  color: #5bc0de;
}
.Messagebox .box-body {
  height: 89%;
}
.Messagebox .box-body textarea {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: #555555;
}
.Messagebox .box-footer {
  padding: 4px 12px;
}
::-webkit-scrollbar-track-piece {
  background-color: #f5f5f5;
  border-left: 1px solid #d2d2d2;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  background-clip: padding-box;
  border: 1px solid #979797;
  min-height: 28px;
}
::-webkit-scrollbar-thumb:hover {
  border: 1px solid #636363;
  background-color: #929292;
}
.code-white {
  background-color: whitesmoke!important;
  border-color: whitesmoke!important;
  margin-bottom: 20px!important;
}
.code-white .CodeToolBar {
  display: none;
}
.code-white .LineNumber {
  background-color: whitesmoke!important;
}
.code-white table {
  line-height: 18px!important;
  margin: 1px 0;
}
